APP_MODE=DEVELOPMENT
APP_NAME="Adamlabs Admisi"
APP_PORT=8001

DB_USERNAME="postgres"
DB_PASSWORD=""
DB_NAME=""
DB_HOST=""
DB_PORT=""

# ONLY USE IN DEVELOPMENT MODE
WITH_SYNC_DB=true

# ANOTHER SERVICE
DATAMASTER_SERVICE_URL="http://localhost:8002"
